main > div {
  position: relative;
}

#form-response ul {
  list-style: none;
}

.appointment {
  background: #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
}

#form-overlay {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  padding-top: 40px;
}

#form-overlay > div {
  height: 100%;
}

#form-overlay > div > div {
  height: inherit;
}

.book {
  height: 100%;
}

.heading {
  margin: 30px 0;
}

.day {
  background: #ABFDFF;
  margin-bottom: 10px;
  padding: 10px;
}

.day p {
  margin: 0;
}

.close {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  opacity: .7;
}

#content {
  margin-bottom: 40px;
}

#message {
  margin: 10px 0;
}

#booking-form button[type="submit"] {
  background: navy;
}
