body {
  background: linear-gradient(
      rgba(0, 0, 0, .5),
      rgba(0, 0, 0, .5)
    ), url(./images/bg.png) no-repeat center center fixed;
  background-size: cover;
}

h1.heading, #message span {
  color: white;
  background: rgba(0, 0, 0, .75);
}

#message {
  margin: 20px 0 10px;
}

#message span {
  padding: 10px;
  border-radius: 4px;
}

main > div {
  position: relative;
}

#form-response ul {
  list-style: none;
}

.appointment {
  background: #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
}

#form-overlay {
  background: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  padding-top: 40px;
}

#form-overlay > div {
  height: 100%;
}

.heading {
  padding: 30px 0;
}

.day {
  background: rgba(171, 253, 255, .9);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.day p {
  margin: 0;
}

.close {
  font-size: 12px;
  position: absolute;
  top: 20px;
  right: 20px;
  margin-right: 15px;
  opacity: .7;
}

#content {
  margin-bottom: 40px;
}

#booking-form button[type="submit"] {
  background: navy;
}

.book {
  background: white;
  padding: 20px;
  border-radius: 4px;
}
